dgdoctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ONE OK ROCK

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 ONE OK ROCK

      section
        h2 Introduction
        hr
        h5 ONE OK ROCK adalah band rock Jepang yang dibentuk tahun 2005. Band ini beranggotakan Taka, Toru, Ryota, dan Tomoya. Pada awalnya band ini memiliki lima anggota, namun si gitaris Alex keluar pada tahun 2009. 
        hr
        h5 Group band ini memainkan gaya musik yang berbeda seperti Emo, Rock dan Heavy Metal dengan gaya mereka tersendiri, Konser mereka dilakukan pada setiap festival rock di seluruh negeri musim panas akhir, Album pertama mereka memasuki chart di tempat kedua pada Oktober 2011.
        hr
        h5 Kemudian, di musim gugur, mereka memiliki tur konser nasional, dan dilakukan untuk 24000 fans di acara sold out di Yokohama Arena untuk 2 hari pada akhir tur.
        

      section
        h2 Profile
                        hr 
        h4 VOCALS : TAKA 
        hr
        h4 GUITAR : TORU 
        hr
        h4 BASS : RYOTA 
        hr
        h4 DRUMS : TOMOYA 

      section
        h2 TAKA (Morita Takahiro) VOCAL
        hr
        h4
        h4 Born on April 17th,  1988
                        h4 Birthplace: Tokyo, Japan
                        h4 Blood Type: A 
                        h4 Height: 168cm 
                        h4 Weight: 62kg

      section
        h2 TORU (Yamashita Toru) GUITAR
        hr
        h4
        h4 Born on December 7th, 1988
                        h4 Birthplace: Osaka, Japan
                        h4 Blood Type: O 
                        h4 Height: 177cm
                        h4 Weight: 65kg

      section
        h2 RYOTA (Kohama Ryota) BASS
        hr
        h4
        h4 Born on September 4th, 1989
                        h4 Birthplace: Tokyo, Japan
                        h4 Blood Type: B 
                        h4 Height: 174cm
                        h4 Weight: 66kg

      section
        h2 TOMOYO (Kanki Tomoya) DRUMS
        hr
        h4
        h4 Born on June 27th, 1987
                        h4 Birthplace: Hyougo Prefacture, Japan
                        h4 Blood Type: A 
                        h4 Height: 168cm
                        h4 Weight: 70kg 

      section
        h2 Careers
        hr
        h5 Band ini dibentuk oleh Toru Yamashita yang ingin mendirikan band ketika dia masih murid sekolah menengah atas. Ia mengajak seorang kawan bernama Ryota Kohama, temannya di grup tari hip hop bernama Heads. Ryota disuruhnya belajar main bass, dan Alex Onizawa diajaknya untuk bergabung. Setelah melihat permainan Taka Moriuchi bersama band lagu daur ulang, Toru mengajaknya untuk bergabung. Tomoya Kanki sudah melengkapi formasi awal mereka sebagai pemain drum sejak tahun 2006, tapi dia baru dijadikan anggota resmi ketika band ini melakukan debutnya pada tahun 2007.
                  hr
                  h5 Nama band, One Ok Rock berasal dari frasa bahasa Inggris one o'clock yang berarti pukul 1.00 tepat. Mereka dulunya berlatih band setiap akhir pekan pukul 1.00 dini hari, sehingga 1 o'clock dijadikan nama band mereka. Bahasa Jepang tidak mengenal perbedaan antara r dan l sehingga o'clock disebut o'crock; oc diganti menjadi OK hingga akhirnya ok rock dipakai mereka sebagai nama band mereka.


         
      section
        h2 Discography
        hr
        h3 Studio Album
        h5 [2007.11.21] Zeitakubyou (Luxury Criticism)
        h5 [2008.05.28] BEAM OF LIGHT
        h5 [2008.11.12] Kanjou Effect (Emotion Effect)
        h5 [2010.06.09] Niche Syndrome
        h5 [2011.10.05] Zankyo Reference (Echo Reference)
        h5 [2013.03.06] Jinsei x Boku=
        h5 [2015.02.11] 35xxxv

      section
        h3 Mini-Albums
        h5 [2006.07.26] ONE OK ROCK (indies)
        h5 [2006.12.16] Keep it real (indies)

      section
        h3 Singles
        h5 [2007.04.25] Naihi Shinsho (I Keep It Inside)
        h5 [2007.07.25] Yume Yume (Dream Dream)
        h5 [2007.10.24] Etcetera 
        h5 [2010.02.03] Kanzen Kankaku Dreamer (Perfect Sensation Dreamer)
        h5 [2011.02.16] Answer is Near
        h5 [2011.07.20] Re:make / NO SCARED
        h5 [2012.08.22] The Beginning
        h5 [2013.01.09] Deeper Deeper / Nothing Helps
        h5 [2014.07.30] Mighty Long Fall / Decision

      section
        h3 Digital Singles
        h5 [2012.12.15] the same as....
        h5 [2014.07.16] Mighty Long Fall
        h5 [2015.01.14] Cry out

      section
        h3 Video Realeases
        h5 [2008.03.19] LIVE DVD "Yononaka Shredder" (LIVE DVD Society Shredder)
        h5 [2012.05.30] "Zankyo Reference" TOUR in YOKOHAMA ARENA (TOUR in YOKOHAMA ARENA)
        h5 [2013.10.09] ONE OK ROCK 2013 "Jinsei x Boku =" Tour Live & Film
        h5 [2014.11.12] FOOL COOL ROCK! ONE OK ROCK DOCUMENTARY FILM
        h5 [2015.04.29] ONE OK ROCK 2014 "Mighty Long Fall at Yokohama Stadium"

      section
        h3 Demos
        h5 [2005.12.21] Do you know a Christmas?

      section
        h3 Compilation/Other
        h5 [2011.05.25] Team Amuse!! - Let's try again
        h5 [2012.04.04] NEVERMIND TRIBUTE (#1 Smells Like Teen Spirit)
      section
        h2 Publication
        h3 Band Scores
        h5 [2012.09] Band Piece "The Beginning" ONE OK ROCK
        
        h3 Magazines
        h5 [2011.07.xx] MUSICA August 2011 Issue (Feature)
        h5 [2011.09.xx] PATi PATi October 2011 Issue (Feature)
        h5 [2011.09.xx] MUSICA October 2011 Issue (Feature)
        h5 [2011.09.xx] GiGS 2011 November Issue (Feature)
        h5 [2011.09.xx] ROCKIN'ON JAPAN November 2011 Issue (Feature)
        h5 [2011.09.xx] BACKSTAGE PASS 2011 November (Feature)
 
        ul
          #bla
          #bla
          #bla


      section
        h2 LIVE TOUR
        hr
        h3 2005-2006: Formation and Early Days
        h4 The foundation for One Ok Rock began when Toru Yamashita, then a high school student, wanted to start a band. He told his friend Ryota Kohama, a fellow member of the hip hop dance group Heads, to learn the bass and asked Alex Onizawa, who was their senior in school to join. He asked his classmate Tomo to play drums, who then left the band in 2006 to pursue an acting career. At that time, Taka Moriuchi was playing with another band named Chivalry of Music; however, Taka didn't enjoy playing with them, so Toru insisted that he join One Ok Rock instead. After signing with a label, Amuse, Inc. Tomo left the band because his parents didn't want their son to pursue that line of work. Tomoya Kanki had been teaching at ESP (Musical Academy) and was already in a band that wasn't going well. He then joined One Ok Rock in 2006, but only became an official member when they debuted in 2007.
      section
        h3 2013-2014: Jinsei×Boku= and Worldwide Tour
        h4 The single "Deeper Deeper/Nothing Helps" was released on January 9, 2013 and hit 2nd place on the Oricon charts. The song "Nothing Helps" was used for the Japanese version of the video game DmC: Devil May Cry, and "Deeper Deeper" was used for the commercial of Suzuki Swift Sport in Japan.
        hr
        h4 Their sixth full-length Jinsei×Boku= was released on March 6, 2013 and managed to reach second place on the Oricon weekly chart.
        hr
        h4 In October 2013 the band went on their first tour outside Asia and visited Europe for five concerts. Four out of the five concerts in Europe were sold out almost immediately.[18] In February 2014 they visited the US to hold two concerts in New York and Los Angeles and added two more dates in Philadelphia and Toronto in May.
        hr
        h4  They also performed at Rock on the Range in Columbus, Ohio, their first festival outside Asia.  In June and July 2014 they joined VANS WARPED TOUR 2014 and performed in eighteen cities in North America. On May 16, the documentary film about their last Europe and Asia Tour, "FOOL COOL ROCK" debuted and played for a limited time of four weeks at select theaters. This movie was directed by Hiroyuki Nakano.[19] The documentary FOOL COOL ROCK will be released on DVD and Blu-ray in November 2014,[20][21] and will include an extra screening from Bangkok, Thailand and Hong kong.




      section
        h2 Live
        
      section
        h2 XXX
        h3 

      section
        h2 XXX
        h3 

      section
        h2.bullet Update Soon...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')